<% provide(:title, '一覧') %>
<% if params[:name].nil? || params[:name].empty? %>
  <h1>ユーザ一覧</h1>
<% else %>
  <h1>検索結果</h1>
<% end %>

<div style="float:right;">
  <%= form_with url: users_path, method: :get, local: true do |f| %>
    <%= f.label "ユーザー名検索" , class: "search-label" %>
    <div style="display: inline-flex;">
      <%= f.text_field :name, :value => params[:name], placeholder: "キーワードを入力", class: "form-control search" %>
      <%= f.submit "検索", class: "btn btn-primary search" %>
    </div>
  <% end %>
</div>
<div style="margin-bottom:100px;"></div>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>